<!--
This is the pgae that will be shown when the user successfully logs in
-->
<nav class="navbar navbar-expand-md navbar-light border-bottom bg-white">
    <div class="container">
      <a class="navbar-brand brand" href="index.html">
          <img src="./assets/img/logo.png" alt="WeeClo Logo">
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsable" aria-controls="navbarCollapsable" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-items-center" id="navbarCollapsable">
            <ul class="navbar-nav ml-auto " id="sections">
              <li class="nav-item mx-2">
                  <a routerLink='/' class="nav-link btn-lg"></a>
              </li>
                <li class="nav-item mx-2">
                    <a routerLink='/' class="nav-link btn-lg">Profile</a>
                </li>
                <li class="nav-item mx-2">
                    <a routerLink='/index' class="nav-link btn-lg">Sign Out</a>
                </li>
                <li class="nav-item mx-2">
                  <a class="nav-link btn-lg"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<p>Welcome to WeeClo</p>
